<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Crea Post</h1>

<form action="/post" method="POST" enctype="multipart/form-data">
  <input type="text" name="titolo" placeholder="Titolo" required />
  <textarea name="descrizione" placeholder="Descrizione" required></textarea>
  <input type="file" name="image" required />
  <button type="submit">Salva</button>
</form>

<a href="/postGallery">Vai alla Gallery</a>

</body>
</html>
