<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1><%= post.titolo %></h1>

<img src="/uploads/<%= post.image %>" />

<p><%= post.descrizione %></p>

<a href="/postGallery">Torna alla gallery</a>

</body>
</html>
