<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Gallery Immagini</h1>

<div class="gallery">
  <% posts.forEach(post => { %>
    <a href="/post/<%= post.id %>">
      <img src="/uploads/<%= post.image %>" />
    </a>
  <% }) %>
</div>

</body>
</html>
